body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1035;
}
  
.logo img {
    width: 50px;
    height: 50px;
}
  
.links a {
    color:antiquewhite;
    text-decoration: none;
    margin-right: 20px;
}

.links a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  font-size: 20px;
  transition-duration: 0.5s;
}
  
.button button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
}
  
.button button:hover {
    background-color: #0056b3;
    font-size: 18px;
    transition-duration: 0.5s;
}

.menu-icon {
    display: none;
}

#About {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
}
  
.about-text {
    max-width: 500px;
    text-align: center;
}
  
.about-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.about-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
  
.about-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
  
.btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  
  .btn:hover {
    background-color: #0056b3;
}
  
img {
    max-width: 500px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.about-section {
  background-color:burlywood;
  padding: 50px 0;
  text-align: center;
  width: 100%;
  height:  300px;
}

.about-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.about-text2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  justify-content: space-between;
}

.about-text2 p {
  font-size: 28px;
  line-height: 1.5;
  margin: 0;
  padding: 20px;
  text-align: left;
  width: 500px;
  height: 300px;
  margin-left: 50px;
  box-sizing: border-box;
  border-color: #333;
  background-color: #0056b3;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-width: 50px;
  display: grid;
  place-items: center;
}

.about-text2 p:hover {
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

#Skills {
  margin-top: 200px;
}

#Skills h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.skills div {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 200px;
}

.skills div h2 {
  font-size: 24px;  
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.skills div ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills div ul li {
  font-size: 18px;
  margin-bottom: 5px;
}

#Projects {
  display: flex;
  flex-direction: column;
  background-color: darkkhaki;
  height: fit-content;
}

#Projects h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  grid-area: "projects";
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.projects div {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project1, .project2, .project3, .project4 {
  color: black;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

.projects div:hover {
  transition: background-color 0.3s ease;
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 1.5);
}
.projects a {
  text-decoration: none;
}

.project1 h2 , .project2 h2, .project3 h2, .project4 h2 {
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project1 {
  color: #ccc;
  background-image: url(images/weather.jpeg);
  background-size: cover;
}

.project2 {
  color: #ccc;
  background-image: url(images/library.avif);
  background-size: cover;
}

.project3 {
  color: #ccc;
  background-image: url(images/url.jpg);
  background-size: cover;
}

.project4 {
  color: #ccc;
  background-image: url(images/AirBnb.jpg);
  background-size: cover;
}

.p {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  text-align: center; 
}

.p a {
  text-decoration: none;
  color: brown;
}

#Contact {
  text-align: center;
  padding: 50px;
}

#Contact h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

#Contact form {
  margin-top: 20px;
}

#Contact input[type="text"],
#Contact input[type="email"],
#Contact textarea {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
}

#Contact input[type="submit"],
#Contact input[type="reset"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color:#007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#Contact input[type="submit"]:hover,
#Contact input[type="reset"]:hover {
  background-color: #0056b3;
}
/**-- for smaller devices --**/

@media (max-width: 768px) {
  .links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    padding: 10px;
  }

  .links.active {
    display: flex;
  }

  .logo {
    margin-left: 20px;
  }

  header {
    padding: 10px;
  }

  .links a {
    display: block;
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
  }

  #About {
    flex-direction: column-reverse;
  }

  .about-text {
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  .about-section {
    height: auto;
    padding: 20px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .about-text2{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    justify-content: space-between;
  }

  .about-text2 p {
    width:fit-content;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
  }

  .about-text2 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  #Skills {
    margin-top: 80px;
  }

  .skills {
    grid-template-columns: 1fr;
  }

  .skills div {
    margin-bottom: 20px;
  }

  .projects {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  #Contact {
    padding: 20px;
  }

  #Contact input[type="text"],
  #Contact input[type="email"],
  #Contact textarea {
    width: 100%;
  }

  #Contact input[type="submit"],
  #Contact input[type="reset"] {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
}